.toplert {
  font-family: "Open Sans",sans-serif;
  font-size: 30px;
  font-style: italic;
  position: relative;
  color: white;
  margin: 0 0 0 0;
}

.topright {
	text-decoration: none;
	color: white;
	display: inline;
	position: relative;
	transition: 0.2s;
	font-size: 20px;
  padding: 5px;

}

.topright:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background: #000;
	bottom: 0;
	left: 0;
	transition: 0.5s;
	transform: scale(0);
	transform-origin: left;
}

.topright:hover:before {
	transform: scale(1);
}

body {
	background-color: #66cc99;
}

.about-section{
    background-size: 100%;
    padding: 0 30px 30px 30px;
}

.inner-container{
    width: 100%;
    height: 470px;
    background-color: white;
}


.shadow-3 {
  text-align: left;
}
.shadow-3 span {
  background: white;
  display: inline-block;
  width: 300px;
  height: 150px;
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 
}

.shadow-4 {
  text-align: right;
}
.shadow-4 span {
  background: white;
  display: inline-block;
  width: 300px;
  height: 150px;
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 
}

.Cat {
	padding: 0 0 0 45%;
}

.top{
  text-decoration: none;
}

.Vodocanal:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: left;
}

.Vodocanal:hover:before {
  transform: scale(1);
}

.Vodocanal {
  text-decoration: none;
  color: white;
  display: inline;
  position: relative;
  transition: 0.2s;
  font-size: 20px;

}

.shadow {
  font-size: 25px;
}

.topright1 {
  text-decoration: none;
  color: white;
  display: inline;
  position: relative;
  transition: 0.2s;
  font-size: 20px;
  padding: 5px;

}

.topright2 {
  text-decoration: none;
  color: white;
  display: inline;
  position: relative;
  transition: 0.2s;
  font-size: 20px;
  padding: 5px;

}

.topright:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  transform: scale(0);
  transform-origin: left;
}

.topright:hover:before {
  transform: scale(1);
}

.perenos {
  display: flex;
}

@media (max-width: 790px) {
  .img{
    width: 100px;
    height: 100px
  }
  .shadow-4 span {
  background: white;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 
  }
  .shadow-3 span {
  background: white;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  padding: 
  }
  .shadow {
  font-size: 17px;
  }
  .inner-container{
    width: 100%;
    height: 330px;
    background-color: white;
  }
  .perenos {
    display: block;
  }
}
