span{
	font-family: Arial Unicode MS;
}

.about-section{
    background-size: 100%;
    padding: 30px 30px;
}

.inner-container{
    width: 100%;
    height: 440px;
    background-color: white;
    padding: 1px;
}

.mainLeft{
  padding: 5px 10px 5px 0; 
}

* { box-sizing: border-box; }
body1 {
  margin: 0;
  background: radial-gradient(#BFD6E2 1px, rgba(255,255,255,0) 2px);
  background-size: 10px 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: 0.5s ease-in-out;
}
.topmenu {
  backface-visibility: hidden;
  background: rgba(255,255,255,.8);
  padding: 10px 10px 0px 10px;
}
.topmenu > li {
  display: inline-block;
  position: relative;
  padding: 0 0 0 0;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 19px;     /*ВОТ ТУТ!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
}

.down {
	font-size: 17px;
	padding: 30px;
}


.topmenu li a:hover { color: #E6855F; }
.submenu {
  background: white;
  border: 2px solid #003559;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #7f7f7f;
  font-size: 16px;
  line-height: 36px;
  padding: 0 25px 0px 5px;
  font-family: "Open Sans",sans-serif;
  font-style: italic;
  position: relative;
  font-weight: bold;
  color: #00008B;
}

body{
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #98FB98;
}

header {
    background-color: white;
}

.kartinka{

}

span {
	font-weight: bold;
	color: rgb(51, 153, 102);
	font-size: larger;
	text-align: justify
}

big{
	font-family: Arial Unicode MS;
}

.inf {
  color: rgb(51, 153, 102);
  font-size: larger;
  text-align: justify
  font-weight: bold;
}


.info {
  text-decoration: none;
  position: relative;
  color: green;
  font-size: 22px;
}
.inf a:before {
  content:'';
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.4s;
}

.inf a:hover:before {
  width: 100%;
}

.KomBl{
  font-size: 19px;
}

h1 {
  color: green;
  text-align: center;
}

script {
  text-align: center;
}

.Moskow {
  text-decoration: underline;
 
  color: black;
  font-weight: bold;
}

ul {
  padding: 0 0 0 25px;
}